@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

:root {
  font-size: 16px;
  --modal-duration: 0.5s;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

body {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  transition: transform 0.3s ease;
}

body.show-nav {
  transform: translateX(200px);
}

.header {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  position: relative;
  padding: 4rem;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0px;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 30px;
  left: 15px;
}

button,
input[type="submit"] {
  background-color: #6649b8;
  color: white;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1em;
  outline: none;
  margin-top: 10px;
}

.submit-btn:hover {
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  outline: none;
}

.section {
  padding: 1rem;
}

.navbar {
  width: 10rem;
  min-height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 10;
  transform: translateX(-100%);
  overflow-x: hidden;
  padding-top: 15px;
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.cta-btn {
  padding: 12px 28px;
  font-size: 16px;
  margin-top: 12px;
}

.section {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 650px;
}

.modal-section {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.modal-section.show-modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.modal {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background-color: var(--bg-primary);
  color: white;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
  text-align: center;
  font-size: 1.4em;
  /* border-bottom: 1px solid #333; */
}

.modal-content {
  padding: 30px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 12px;
  width: 100%;
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
