* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Halvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: solid 2px #111;
}

button {
  background-color: white;
  border: solid 1px #111;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

h2 {
  border-bottom: solid 1px black;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: white;
  border-bottom: solid 1px black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}

.person {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin: 0 0 10px;
}
